PORT=4000
ADMIN_PASSWORD=votre_mot_de_passe_ici
MONGODB_URI=mongodb+srv://admin_cruise:<password>@cluster0.xxxx.mongodb.net/cruise-platform?retryWrites=true&w=majority

# Base URLs for providers (si applicable)
STARCLIPPERS_URL=
COSTA_URL=
CROISIEUROPE_URL=
ARANUI_URL=
